<!DOCTYPE html>
<html>
    <head>
		<title>Order list</title>
	</head>
    <body>	
	<!-- Created a input form  of orders    -->
		<form>
		   <h2> Order</h2>
		   <input type="text" name="order">
			{% if items %}
				{% for item in items %} 
					<input type = "hidden" name = "order" value = "{{item}}">
				{% endfor %}
			{% endif %}
			<button>Add</button>
		<!-- If user input the items, which he order-->
			{% if items %} 
			<br>
			<br>
		<!-- created a list of items we ordered and print them-->
		<h2>Order List</h2>
			<ul>
				{% for item in items %}	
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
			{% endif %}    
		</form>
    </body>
</html>
